src/main/resources/xsd/ws/BuyAllowance/Request/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:fus="http://schemas.datacontract.org/2004/07/Fusion.Integration" xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:ser="http://services.fusion.aero" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/05/soap-envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://services.fusion.aero" />
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="ser:BuyAllowance" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>