src/main/resources/xsd/ws/ActivateBag/Request/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fusion.Integration" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fusion.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema4.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DepartureAirportCode" type="xs:string" />
  <xs:element name="IataAirlineCode" type="xs:string" />
  <xs:element name="MACAddress" type="xs:string" />
  <xs:element name="RequestId" type="xs:string" />
  <xs:element name="RequestSourceName" type="xs:string" />
  <xs:element name="RequestType" type="xs:string" />
  <xs:element name="TestRequest" type="xs:boolean" />
  <xs:element name="BusinessActivity" nillable="true" />
  <xs:element name="OverridingKioskUser" nillable="true" />
  <xs:element name="Session">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EndTime" nillable="true" />
        <xs:element name="KioskId" type="xs:string" />
        <xs:element name="LicensePlate" nillable="true" />
        <xs:element name="PNR" type="xs:string" />
        <xs:element name="Price" type="xs:unsignedByte" />
        <xs:element name="ServiceConfigId" type="xs:string" />
        <xs:element name="SessionId" type="xs:string" />
        <xs:element name="StartTime" type="xs:dateTime" />
        <xs:element name="Status" type="xs:string" />
        <xs:element name="UserId" type="xs:string" />
        <xs:element name="Weight" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Active" nillable="true" type="xs:string" />
  <xs:element name="BaggageAllowanceId" type="xs:string" />
  <xs:element name="BaggageItemSubTypeId" type="xs:string" />
  <xs:element name="BaggageItemSubTypeName" nillable="true" />
  <xs:element name="BaggageItemType" type="xs:string" />
  <xs:element name="BaggageItemTypeId" type="xs:string" />
  <xs:element name="BaggageItemTypeName" type="xs:string" />
  <xs:element name="ConsumeAllowance" type="xs:boolean" />
  <xs:element name="CreatedOn" type="xs:dateTime" />
  <xs:element name="Dropped" type="xs:boolean" />
  <xs:element name="DroppedTime" nillable="true" />
  <xs:element name="HasNotionalWeight" type="xs:boolean" />
  <xs:element name="Id" type="xs:string" />
  <xs:element name="InitialWeight" type="xs:unsignedByte" />
  <xs:element name="NativeBaggageId" />
  <xs:element name="OutOfGauge" type="xs:boolean" />
  <xs:element name="PassengerId" type="xs:string" />
  <xs:element name="Printed" type="xs:boolean" />
  <xs:element name="PrintedTime" nillable="true" />
  <xs:element name="Registered" type="xs:boolean" />
  <xs:element name="RegisteredTime" nillable="true" />
  <xs:element name="SessionId" nillable="true" />
  <xs:element name="TagNumber" type="xs:unsignedInt" />
  <xs:element name="Weight" type="xs:decimal" />
  <xs:element name="Airport" nillable="true" />
  <xs:element name="ApisRequired" type="xs:boolean" />
  <xs:element name="ArrivalTime" type="xs:dateTime" />
  <xs:element name="BaggageAcceptanceStatus" nillable="true" />
  <xs:element name="CarrierBookingClass" nillable="true" />
  <xs:element name="ConnectingFlight" type="xs:boolean" />
  <xs:element name="CustomProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q1:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartureTerminal" nillable="true" />
  <xs:element name="DepartureTime" type="xs:dateTime" />
  <xs:element name="Destination" type="xs:string" />
  <xs:element name="EstimatedDepartureTime" nillable="true" />
  <xs:element name="Fare" nillable="true" />
  <xs:element name="FlightCode" nillable="true" />
  <xs:element name="FlightNumber" type="xs:unsignedShort" />
  <xs:element name="FlightRPH" type="xs:unsignedByte" />
  <xs:element name="IATACode" nillable="true" />
  <xs:element name="ICAOCode" nillable="true" />
  <xs:element name="JourneyRPH" type="xs:unsignedByte" />
  <xs:element name="MarketingCarrier" type="xs:string" />
  <xs:element name="NativeFlightId" nillable="true" />
  <xs:element name="OpenForBoarding" type="xs:boolean" />
  <xs:element name="OpenForCheckIn" type="xs:boolean" />
  <xs:element name="OperatingCarrier" type="xs:string" />
  <xs:element name="Origin" type="xs:string" />
  <xs:element name="RequireMultipleAPISDocuments" type="xs:boolean" />
  <xs:element name="Status" nillable="true" />
  <xs:element name="UTCArrivalTime" type="xs:dateTime" />
  <xs:element name="UTCDepartureTime" type="xs:dateTime" />
  <xs:element name="UTCEstimatedDepartureTime" nillable="true" />
  <xs:element name="AllowanceRetrieved" type="xs:boolean" />
  <xs:element name="Baggage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BaggageAllowance">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BagDropId" type="xs:string" />
              <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
              <xs:element name="BaggageItemTypeId" type="xs:string" />
              <xs:element name="ConsumeItemWeight" type="xs:boolean" />
              <xs:element name="CreatedOn" type="xs:dateTime" />
              <xs:element name="FlightId" type="xs:string" />
              <xs:element name="Id" type="xs:string" />
              <xs:element name="InitialBags" type="xs:unsignedByte" />
              <xs:element name="InitialWeight" type="xs:unsignedByte" />
              <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
              <xs:element name="PassengerId" nillable="true" />
              <xs:element name="PoolItems" type="xs:boolean" />
              <xs:element name="PoolWeight" type="xs:boolean" />
              <xs:element name="PurchasedBags" type="xs:unsignedByte" />
              <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
              <xs:element name="RemainingBags" type="xs:unsignedByte" />
              <xs:element name="RemainingWeight" type="xs:decimal" />
              <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BaggageAllowances" />
        <xs:element name="BaggageItems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaggageItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Active" nillable="true" />
                    <xs:element name="BaggageAllowanceId" type="xs:string" />
                    <xs:element name="BaggageItemSubTypeId" type="xs:string" />
                    <xs:element name="BaggageItemSubTypeName" type="xs:string" />
                    <xs:element name="BaggageItemType" type="xs:string" />
                    <xs:element name="BaggageItemTypeId" type="xs:string" />
                    <xs:element name="BaggageItemTypeName" type="xs:string" />
                    <xs:element name="ConsumeAllowance" type="xs:boolean" />
                    <xs:element name="CreatedOn" type="xs:dateTime" />
                    <xs:element name="Dropped" type="xs:boolean" />
                    <xs:element name="DroppedTime" nillable="true" />
                    <xs:element name="HasNotionalWeight" type="xs:boolean" />
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="InitialWeight" type="xs:decimal" />
                    <xs:element name="NativeBaggageId" />
                    <xs:element name="OutOfGauge" type="xs:boolean" />
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="Printed" type="xs:boolean" />
                    <xs:element name="PrintedTime" type="xs:dateTime" />
                    <xs:element name="Registered" type="xs:boolean" />
                    <xs:element name="RegisteredTime" type="xs:dateTime" />
                    <xs:element name="SessionId" type="xs:string" />
                    <xs:element name="TagNumber" type="xs:unsignedInt" />
                    <xs:element name="Weight" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Barcode" nillable="true" />
  <xs:element name="Boarded" type="xs:boolean" />
  <xs:element name="CheckedIn" type="xs:boolean" />
  <xs:element name="ClearanceRequired" type="xs:boolean" />
  <xs:element name="ClearanceStatus" type="xs:string" />
  <xs:element name="ConfirmedDga" type="xs:boolean" />
  <xs:element name="ConfirmedIdentity" type="xs:boolean" />
  <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
  <xs:element name="DateOfBirth" nillable="true" />
  <xs:element name="DocumentCheckRequired" type="xs:boolean" />
  <xs:element name="Fees" nillable="true" />
  <xs:element name="FirstName" type="xs:string" />
  <xs:element name="Gender" nillable="true" />
  <xs:element name="Identity" nillable="true" />
  <xs:element name="Infant" nillable="true" />
  <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
  <xs:element name="IsSelected" type="xs:boolean" />
  <xs:element name="LastName" type="xs:string" />
  <xs:element name="MarketingCarrierCode" type="xs:string" />
  <xs:element name="MiddleName" nillable="true" />
  <xs:element name="NativePassengerId" type="xs:unsignedLong" />
  <xs:element name="PassengerRPH" type="xs:unsignedByte" />
  <xs:element name="PassengerSequenceNumber" type="xs:unsignedByte" />
  <xs:element name="PaxType" type="xs:string" />
  <xs:element name="Remarks" nillable="true" />
  <xs:element name="RequiresCheckin" type="xs:boolean" />
  <xs:element name="SSRs" nillable="true" />
  <xs:element name="SeatNumber" type="xs:string" />
  <xs:element name="SeatPreference" nillable="true" />
  <xs:element name="SupportsCheckin" type="xs:boolean" />
  <xs:element name="Title" type="xs:string" />
</xs:schema>