src/main/resources/xsd/ws/ActivateBag/Request/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:b="http://schemas.datacontract.org/2004/07/Fusion.Integration" xmlns:c="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing" xmlns:i="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/05/soap-envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://www.w3.org/2005/08/addressing" />
  <xs:import schemaLocation="schema2.xsd" namespace="http://services.fusion.aero" />
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="a:Action" />
              <xs:element ref="a:MessageID" />
              <xs:element ref="a:ReplyTo" />
              <xs:element ref="a:To" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="http://services.fusion.aero" ref="q1:ActivateBag" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="mustUnderstand" type="xs:unsignedByte" />
</xs:schema>