src/main/resources/xsd/log/CheckInPassenger/Request/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CheckInPassenger_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="IataAirlineCode" type="xs:string" />
        <xs:element name="DepartureAirportCode" type="xs:string" />
        <xs:element name="MACAddress" type="xs:string" />
        <xs:element name="TestRequest" type="xs:boolean" />
        <xs:element name="RequestType" type="xs:string" />
        <xs:element name="RequestSourceName" type="xs:string" />
        <xs:element name="Session">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SessionId" type="xs:string" />
              <xs:element name="KioskId" type="xs:string" />
              <xs:element name="ServiceConfigId" type="xs:string" />
              <xs:element name="UserId" type="xs:string" />
              <xs:element name="StartTime" type="xs:dateTime" />
              <xs:element name="EndTime" nillable="true" />
              <xs:element name="Weight" type="xs:unsignedByte" />
              <xs:element name="Price" type="xs:unsignedByte" />
              <xs:element name="Status" type="xs:string" />
              <xs:element name="PNR" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Passengers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Passenger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="FirstName" type="xs:string" />
                    <xs:element name="LastName" type="xs:string" />
                    <xs:element name="NativePassengerId" type="xs:unsignedLong" />
                    <xs:element name="MarketingCarrierCode" type="xs:string" />
                    <xs:element name="DateOfBirth" nillable="true" />
                    <xs:element name="PassengerSequenceNumber" type="xs:unsignedByte" />
                    <xs:element name="SeatNumber" type="xs:string" />
                    <xs:element name="PaxType" type="xs:string" />
                    <xs:element name="PassengerRPH" type="xs:unsignedByte" />
                    <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
                    <xs:element name="ConfirmedDga" type="xs:boolean" />
                    <xs:element name="ConfirmedIdentity" type="xs:boolean" />
                    <xs:element name="AllowanceRetrieved" type="xs:boolean" />
                    <xs:element name="IsSelected" type="xs:boolean" />
                    <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
                    <xs:element name="ClearanceRequired" type="xs:boolean" />
                    <xs:element name="ClearanceStatus" type="xs:string" />
                    <xs:element name="CheckedIn" type="xs:boolean" />
                    <xs:element name="RequiresCheckin" type="xs:boolean" />
                    <xs:element name="SupportsCheckin" type="xs:boolean" />
                    <xs:element name="Boarded" type="xs:boolean" />
                    <xs:element name="Active" type="xs:boolean" />
                    <xs:element name="DocumentCheckRequired" type="xs:boolean" />
                    <xs:element name="Identity">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ObtainedAPIS">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ApisData">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DateOfBirth" type="xs:dateTime" />
                                      <xs:element name="CountryOfResidence" type="xs:string" />
                                      <xs:element name="DocumentType" type="xs:string" />
                                      <xs:element name="DocumentIssueDate" type="xs:dateTime" />
                                      <xs:element name="DocumentExpiryDate" type="xs:dateTime" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ValidDocuments">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="APISDocumentSet">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="MainDocumentType" type="xs:string" />
                                      <xs:element minOccurs="0" name="MainDocumentIssuerCountryCode" type="xs:string" />
                                      <xs:element name="APISDocuments">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="DocumentDetail">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Type" type="xs:string" />
                                                  <xs:element minOccurs="0" name="IssuerCountryCode" type="xs:string" />
                                                  <xs:element name="Fields">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element maxOccurs="unbounded" name="DocumentField">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Name" type="xs:string" />
                                                              <xs:element name="Required" type="xs:boolean" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Scannable" type="xs:boolean" />
                                                  <xs:element name="Complete" type="xs:boolean" />
                                                  <xs:element name="Required" type="xs:boolean" />
                                                  <xs:element name="Active" type="xs:boolean" />
                                                  <xs:element name="Order" type="xs:unsignedByte" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="IsSelected" type="xs:boolean" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CustomProperties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Flights">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Flight">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="Origin" type="xs:string" />
                    <xs:element name="Destination" type="xs:string" />
                    <xs:element name="DepartureTime" type="xs:dateTime" />
                    <xs:element name="ArrivalTime" type="xs:dateTime" />
                    <xs:element name="UTCDepartureTime" type="xs:dateTime" />
                    <xs:element name="UTCArrivalTime" type="xs:dateTime" />
                    <xs:element name="OperatingCarrier" type="xs:string" />
                    <xs:element name="MarketingCarrier" type="xs:string" />
                    <xs:element name="FlightNumber" type="xs:unsignedShort" />
                    <xs:element name="FlightRPH" type="xs:unsignedByte" />
                    <xs:element name="ApisRequired" type="xs:boolean" />
                    <xs:element name="RequireMultipleAPISDocuments" type="xs:boolean" />
                    <xs:element name="OpenForCheckIn" type="xs:boolean" />
                    <xs:element name="OpenForBoarding" type="xs:boolean" />
                    <xs:element name="ConnectingFlight" type="xs:boolean" />
                    <xs:element name="JourneyRPH" type="xs:unsignedByte" />
                    <xs:element name="CustomProperties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="string" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BagCountToCheckIn" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>