src/main/resources/xsd/log/ActivateBag/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="ActivateBag_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
        <xs:element name="BagDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaggageItemId" type="xs:string" />
              <xs:element name="BagWeight" type="xs:unsignedByte" />
              <xs:element name="BagRegistrationTime" type="xs:dateTime" />
              <xs:element name="Active" nillable="true" />
              <xs:element name="Dropped" type="xs:boolean" />
              <xs:element name="FlightId" type="xs:string" />
              <xs:element name="ScheduledDepartureDateTime" type="xs:dateTime" />
              <xs:element name="PassengerId" type="xs:string" />
              <xs:element name="SessionId" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>