src/main/resources/xsd/ws/QuoteBag/Response/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fusion.Integration" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fusion.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DcsRequestsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FusionError">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string" />
              <xs:element name="Critical" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Method" type="xs:string" />
              <xs:element name="Source" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestId" type="xs:string" />
  <xs:element name="ResponseId" type="xs:string" />
  <xs:element name="CardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AuthorisationCode" type="xs:string" />
        <xs:element name="CardScheme" type="xs:string" />
        <xs:element name="MerchantId" type="xs:string" />
        <xs:element name="TerminalId" type="xs:string" />
        <xs:element name="TransactionDate" type="xs:string" />
        <xs:element name="TransactionReference" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Currency" type="xs:string" />
  <xs:element name="ItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ExcessBaggageCost">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AdditionalAllowance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BagDropId" type="xs:string" />
                    <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                    <xs:element name="BaggageItemTypeId" type="xs:string" />
                    <xs:element name="ConsumeItemWeight" type="xs:string" />
                    <xs:element name="CreatedOn" type="xs:string" />
                    <xs:element name="FlightId" type="xs:string" />
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="InitialBags" type="xs:string" />
                    <xs:element name="InitialWeight" type="xs:string" />
                    <xs:element name="MaxSingleItemWeight" type="xs:string" />
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="PoolItems" type="xs:string" />
                    <xs:element name="PoolWeight" type="xs:string" />
                    <xs:element name="PurchasedBags" type="xs:string" />
                    <xs:element name="PurchasedWeight" type="xs:string" />
                    <xs:element name="RemainingBags" type="xs:string" />
                    <xs:element name="RemainingWeight" type="xs:string" />
                    <xs:element name="UpdateInitialAllowance" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurrencySymbol" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Price" type="xs:string" />
              <xs:element name="Quantity" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentReference" type="xs:string" />
  <xs:element name="PaymentType" type="xs:string" />
  <xs:element name="PaymentTypeDetail" type="xs:string" />
  <xs:element name="QuoteStatus" type="xs:string" />
  <xs:element name="StatusMessage" type="xs:string" />
</xs:schema>