src/main/resources/schemas/schema0-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="QuoteBag_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="IataAirlineCode" type="xs:string" />
        <xs:element name="DepartureAirportCode" type="xs:string" />
        <xs:element name="MACAddress" type="xs:string" />
        <xs:element name="TestRequest" type="xs:boolean" />
        <xs:element name="RequestType" type="xs:string" />
        <xs:element name="RequestSourceName" type="xs:string" />
        <xs:element name="Session">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SessionId" type="xs:string" />
              <xs:element name="KioskId" type="xs:string" />
              <xs:element name="ServiceConfigId" type="xs:string" />
              <xs:element name="UserId" type="xs:string" />
              <xs:element name="StartTime" type="xs:dateTime" />
              <xs:element name="EndTime" nillable="true" />
              <xs:element name="Weight" type="xs:decimal" />
              <xs:element name="Price" type="xs:unsignedByte" />
              <xs:element name="Status" type="xs:string" />
              <xs:element name="PNR" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BaggageItemType" type="xs:string" />
        <xs:element name="Reservation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NativeReference" type="xs:string" />
              <xs:element name="IsGroupBooking" type="xs:boolean" />
              <xs:element name="Flights">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Flight">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="Origin" type="xs:string" />
                          <xs:element name="Destination" type="xs:string" />
                          <xs:element name="DepartureTime" type="xs:dateTime" />
                          <xs:element name="ArrivalTime" type="xs:dateTime" />
                          <xs:element name="UTCDepartureTime" type="xs:dateTime" />
                          <xs:element name="UTCArrivalTime" type="xs:dateTime" />
                          <xs:element name="OperatingCarrier" type="xs:string" />
                          <xs:element name="MarketingCarrier" type="xs:string" />
                          <xs:element name="FlightNumber" type="xs:unsignedByte" />
                          <xs:element name="NativeFlightId" type="xs:unsignedInt" />
                          <xs:element name="FlightRPH" type="xs:unsignedByte" />
                          <xs:element name="DepartureTerminal" />
                          <xs:element name="ApisRequired" type="xs:boolean" />
                          <xs:element name="RequireMultipleAPISDocuments" type="xs:boolean" />
                          <xs:element name="OpenForCheckIn" type="xs:boolean" />
                          <xs:element name="OpenForBoarding" type="xs:boolean" />
                          <xs:element name="ConnectingFlight" type="xs:boolean" />
                          <xs:element name="JourneyRPH" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Passengers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Passenger">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PassengerId" type="xs:string" />
                          <xs:element name="Title" type="xs:string" />
                          <xs:element name="FirstName" type="xs:string" />
                          <xs:element name="LastName" type="xs:string" />
                          <xs:element name="NativePassengerId" type="xs:unsignedInt" />
                          <xs:element name="MarketingCarrierCode" type="xs:string" />
                          <xs:element name="Gender" type="xs:string" />
                          <xs:element name="DateOfBirth" nillable="true" />
                          <xs:element name="PassengerSequenceNumber" type="xs:string" />
                          <xs:element name="SeatNumber" type="xs:string" />
                          <xs:element name="PassengerRPH" type="xs:unsignedByte" />
                          <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
                          <xs:element name="ConfirmedDga" type="xs:boolean" />
                          <xs:element name="ConfirmedIdentity" type="xs:boolean" />
                          <xs:element name="AllowanceRetrieved" type="xs:boolean" />
                          <xs:element name="IsSelected" type="xs:boolean" />
                          <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
                          <xs:element name="ClearanceRequired" type="xs:boolean" />
                          <xs:element name="ClearanceStatus" type="xs:string" />
                          <xs:element name="CheckedIn" type="xs:boolean" />
                          <xs:element name="RequiresCheckin" type="xs:boolean" />
                          <xs:element name="SupportsCheckin" type="xs:boolean" />
                          <xs:element name="Boarded" type="xs:boolean" />
                          <xs:element name="Active" type="xs:boolean" />
                          <xs:element name="DocumentCheckRequired" type="xs:boolean" />
                          <xs:element name="Baggage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BaggageAllowance">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id" type="xs:string" />
                                      <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                                      <xs:element name="BaggageItemTypeId" type="xs:string" />
                                      <xs:element name="BagDropId" type="xs:string" />
                                      <xs:element name="FlightId" type="xs:string" />
                                      <xs:element name="PassengerId" nillable="true" />
                                      <xs:element name="PoolItems" type="xs:boolean" />
                                      <xs:element name="PoolWeight" type="xs:boolean" />
                                      <xs:element name="ConsumeItemWeight" type="xs:boolean" />
                                      <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
                                      <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                                      <xs:element name="InitialBags" type="xs:unsignedByte" />
                                      <xs:element name="InitialWeight" type="xs:unsignedByte" />
                                      <xs:element name="PurchasedBags" type="xs:unsignedByte" />
                                      <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
                                      <xs:element name="RemainingBags" type="xs:unsignedByte" />
                                      <xs:element name="RemainingWeight" type="xs:decimal" />
                                      <xs:element name="CreatedOn" type="xs:dateTime" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="BaggageAllowances" />
                                <xs:element name="BaggageItems">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="BaggageItem">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Id" type="xs:string" />
                                            <xs:element name="BaggageAllowanceId" type="xs:string" />
                                            <xs:element name="PassengerId" type="xs:string" />
                                            <xs:element name="SessionId" type="xs:string" />
                                            <xs:element name="TagNumber" type="xs:unsignedInt" />
                                            <xs:element name="Weight" type="xs:decimal" />
                                            <xs:element name="InitialWeight" type="xs:decimal" />
                                            <xs:element name="BaggageItemType" type="xs:string" />
                                            <xs:element name="BaggageItemTypeId" type="xs:string" />
                                            <xs:element name="BaggageItemTypeName" type="xs:string" />
                                            <xs:element name="BaggageItemSubTypeId" type="xs:string" />
                                            <xs:element name="BaggageItemSubTypeName" type="xs:string" />
                                            <xs:element name="HasNotionalWeight" type="xs:boolean" />
                                            <xs:element name="OutOfGauge" type="xs:boolean" />
                                            <xs:element name="ConsumeAllowance" type="xs:boolean" />
                                            <xs:element name="Registered" type="xs:boolean" />
                                            <xs:element name="Printed" type="xs:boolean" />
                                            <xs:element name="Dropped" type="xs:boolean" />
                                            <xs:element name="RegisteredTime" type="xs:dateTime" />
                                            <xs:element name="PrintedTime" type="xs:dateTime" />
                                            <xs:element name="DroppedTime" type="xs:dateTime" />
                                            <xs:element name="CreatedOn" type="xs:dateTime" />
                                            <xs:element name="NativeBaggageId" />
                                            <xs:element name="Active" nillable="true" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CustomProperties" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ContactTitle" type="xs:string" />
                    <xs:element name="ContactFirstName" type="xs:string" />
                    <xs:element name="ContactLastName" type="xs:string" />
                    <xs:element name="NotificationPreference" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IsCachedReservation" type="xs:boolean" />
              <xs:element name="BalanceDueOnReservation" type="xs:boolean" />
              <xs:element name="NextFlightRph" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UnusedBaggageAllowance">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaggageAllowance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                    <xs:element name="BaggageItemTypeId" type="xs:string" />
                    <xs:element name="BagDropId" type="xs:string" />
                    <xs:element name="FlightId" type="xs:string" />
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="PoolItems" type="xs:boolean" />
                    <xs:element name="PoolWeight" type="xs:boolean" />
                    <xs:element name="ConsumeItemWeight" type="xs:boolean" />
                    <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
                    <xs:element name="MaxSingleItemWeight" type="xs:decimal" />
                    <xs:element name="InitialBags" type="xs:unsignedByte" />
                    <xs:element name="InitialWeight" type="xs:decimal" />
                    <xs:element name="PurchasedBags" type="xs:unsignedByte" />
                    <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
                    <xs:element name="RemainingBags" type="xs:unsignedByte" />
                    <xs:element name="RemainingWeight" type="xs:decimal" />
                    <xs:element name="CreatedOn" type="xs:dateTime" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ScaleWeight" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>