src/main/resources/xsd/log/GetReservationByNativeReference/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="GetReservationByNativeReference_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
        <xs:element name="Reservation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NativeReference" type="xs:string" />
              <xs:element name="IsGroupBooking" type="xs:boolean" />
              <xs:element name="Flights">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Flight">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="Origin" type="xs:string" />
                          <xs:element name="Destination" type="xs:string" />
                          <xs:element name="DepartureTime" type="xs:dateTime" />
                          <xs:element name="ArrivalTime" type="xs:dateTime" />
                          <xs:element name="UTCDepartureTime" type="xs:dateTime" />
                          <xs:element name="UTCArrivalTime" type="xs:dateTime" />
                          <xs:element name="OperatingCarrier" type="xs:string" />
                          <xs:element name="MarketingCarrier" type="xs:string" />
                          <xs:element name="FlightNumber" type="xs:unsignedShort" />
                          <xs:element name="NativeFlightId" type="xs:string" />
                          <xs:element name="FlightRPH" type="xs:unsignedByte" />
                          <xs:element name="ApisRequired" type="xs:boolean" />
                          <xs:element name="RequireMultipleAPISDocuments" type="xs:boolean" />
                          <xs:element name="OpenForCheckIn" type="xs:boolean" />
                          <xs:element name="OpenForBoarding" type="xs:boolean" />
                          <xs:element name="ConnectingFlight" type="xs:boolean" />
                          <xs:element name="JourneyRPH" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Passengers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Passenger">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PassengerId" type="xs:string" />
                          <xs:element name="Title" type="xs:string" />
                          <xs:element name="FirstName" type="xs:string" />
                          <xs:element name="MiddleName" />
                          <xs:element name="LastName" type="xs:string" />
                          <xs:element name="NativePassengerId" type="xs:unsignedInt" />
                          <xs:element name="Gender" type="xs:string" />
                          <xs:element name="DateOfBirth" type="xs:dateTime" />
                          <xs:element name="PassengerSequenceNumber" type="xs:unsignedByte" />
                          <xs:element name="SeatNumber" type="xs:string" />
                          <xs:element name="PaxType" type="xs:string" />
                          <xs:element name="PassengerRPH" type="xs:unsignedByte" />
                          <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
                          <xs:element name="ConfirmedDga" type="xs:boolean" />
                          <xs:element name="ConfirmedIdentity" type="xs:boolean" />
                          <xs:element name="AllowanceRetrieved" type="xs:boolean" />
                          <xs:element name="IsSelected" type="xs:boolean" />
                          <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
                          <xs:element name="ClearanceRequired" type="xs:boolean" />
                          <xs:element name="ClearanceStatus" type="xs:string" />
                          <xs:element name="CheckedIn" type="xs:boolean" />
                          <xs:element name="RequiresCheckin" type="xs:boolean" />
                          <xs:element name="SupportsCheckin" type="xs:boolean" />
                          <xs:element name="Boarded" type="xs:boolean" />
                          <xs:element name="Active" type="xs:boolean" />
                          <xs:element name="DocumentCheckRequired" type="xs:boolean" />
                          <xs:element name="Identity">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="LastAPIS">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Surname" type="xs:string" />
                                      <xs:element name="Firstname" type="xs:string" />
                                      <xs:element name="DateOfBirth" type="xs:dateTime" />
                                      <xs:element name="Nationality" type="xs:string" />
                                      <xs:element name="DocumentType" type="xs:string" />
                                      <xs:element name="DocumentNumber" type="xs:string" />
                                      <xs:element name="DocumentIssueDate" type="xs:dateTime" />
                                      <xs:element name="DocumentExpiryDate" type="xs:dateTime" />
                                      <xs:element name="CountryOfIssue" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Baggage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BaggageAllowance">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id" type="xs:string" />
                                      <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                                      <xs:element name="BaggageItemTypeId" type="xs:string" />
                                      <xs:element name="BagDropId" type="xs:string" />
                                      <xs:element name="FlightId" type="xs:string" />
                                      <xs:element name="PassengerId" nillable="true" />
                                      <xs:element name="PoolItems" type="xs:boolean" />
                                      <xs:element name="PoolWeight" type="xs:boolean" />
                                      <xs:element name="ConsumeItemWeight" type="xs:boolean" />
                                      <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
                                      <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                                      <xs:element name="InitialBags" type="xs:unsignedByte" />
                                      <xs:element name="InitialWeight" type="xs:unsignedByte" />
                                      <xs:element name="PurchasedBags" type="xs:unsignedByte" />
                                      <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
                                      <xs:element name="RemainingBags" type="xs:unsignedByte" />
                                      <xs:element name="RemainingWeight" type="xs:unsignedByte" />
                                      <xs:element name="CreatedOn" type="xs:dateTime" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="BaggageAllowances" />
                                <xs:element name="BaggageItems">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element name="BaggageItem">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Id" type="xs:string" />
                                            <xs:element name="BaggageAllowanceId" type="xs:string" />
                                            <xs:element name="PassengerId" type="xs:string" />
                                            <xs:element name="SessionId" nillable="true" />
                                            <xs:element name="TagNumber" type="xs:unsignedInt" />
                                            <xs:element name="Weight" type="xs:unsignedByte" />
                                            <xs:element name="InitialWeight" type="xs:unsignedByte" />
                                            <xs:element name="BaggageItemType" type="xs:string" />
                                            <xs:element name="BaggageItemTypeId" type="xs:string" />
                                            <xs:element name="BaggageItemTypeName" type="xs:string" />
                                            <xs:element name="BaggageItemSubTypeId" type="xs:string" />
                                            <xs:element name="HasNotionalWeight" type="xs:boolean" />
                                            <xs:element name="OutOfGauge" type="xs:boolean" />
                                            <xs:element name="ConsumeAllowance" type="xs:boolean" />
                                            <xs:element name="Registered" type="xs:boolean" />
                                            <xs:element name="Printed" type="xs:boolean" />
                                            <xs:element name="Dropped" type="xs:boolean" />
                                            <xs:element name="RegisteredTime" nillable="true" />
                                            <xs:element name="PrintedTime" nillable="true" />
                                            <xs:element name="DroppedTime" nillable="true" />
                                            <xs:element name="CreatedOn" type="xs:dateTime" />
                                            <xs:element name="NativeBaggageId" />
                                            <xs:element name="Active" nillable="true" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SSRs">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="SSR">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="SSRCode" type="xs:string" />
                                      <xs:element name="SSRDescription" />
                                      <xs:element name="FeeCode" type="xs:string" />
                                      <xs:element name="PaxNumber" type="xs:unsignedByte" />
                                      <xs:element name="Price" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CustomProperties">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="string" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ContactTitle" type="xs:string" />
                    <xs:element name="ContactFirstName" type="xs:string" />
                    <xs:element name="ContactLastName" type="xs:string" />
                    <xs:element name="TelephoneNumber" type="xs:string" />
                    <xs:element name="EmailAddress" type="xs:string" />
                    <xs:element name="AddressLine" type="xs:string" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="Country" type="xs:string" />
                    <xs:element name="PostalCode" type="xs:string" />
                    <xs:element name="CompanyName" />
                    <xs:element name="NotificationPreference" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IsCachedReservation" type="xs:boolean" />
              <xs:element name="BalanceDueOnReservation" type="xs:boolean" />
              <xs:element name="NextFlightRph" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>