src/main/resources/xsd/ws/GetReservationByNativeReference/Request/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KeyValueOfPolicyTypebooleanMK9aSvu_S">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Key" type="xs:string" />
        <xs:element name="Value" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>