src/main/resources/xsd/log/BuyAllowance/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="BuyAllowance_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>