src/main/resources/xsd/ws/CheckInPassenger/Request/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fusion.Integration" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fusion.Integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DepartureAirportCode" type="xs:string" />
  <xs:element name="IataAirlineCode" type="xs:string" />
  <xs:element name="MACAddress" type="xs:string" />
  <xs:element name="RequestId" type="xs:string" />
  <xs:element name="RequestSourceName" type="xs:string" />
  <xs:element name="RequestType" type="xs:string" />
  <xs:element name="TestRequest" type="xs:string" />
  <xs:element name="BusinessActivity" type="xs:string" />
  <xs:element name="OverridingKioskUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DateCreated" type="xs:string" />
        <xs:element name="DisplayName" type="xs:string" />
        <xs:element name="HashedPassword" type="xs:string" />
        <xs:element name="IsAdmin" type="xs:string" />
        <xs:element name="LastLogin" type="xs:string" />
        <xs:element name="NativeUserId" type="xs:string" />
        <xs:element name="OrganisationId" type="xs:string" />
        <xs:element name="UserId" type="xs:string" />
        <xs:element name="UserName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Session">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EndTime" type="xs:string" />
        <xs:element name="KioskId" type="xs:string" />
        <xs:element name="LicensePlate" type="xs:string" />
        <xs:element name="PNR" type="xs:string" />
        <xs:element name="Price" type="xs:string" />
        <xs:element name="ServiceConfigId" type="xs:string" />
        <xs:element name="SessionId" type="xs:string" />
        <xs:element name="StartTime" type="xs:string" />
        <xs:element name="Status" type="xs:string" />
        <xs:element name="UserId" type="xs:string" />
        <xs:element name="Weight" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Airport" type="xs:string" />
  <xs:element name="ApisRequired" type="xs:string" />
  <xs:element name="ArrivalTime" type="xs:string" />
  <xs:element name="BaggageAcceptanceStatus" type="xs:string" />
  <xs:element name="CarrierBookingClass" type="xs:string" />
  <xs:element name="ConnectingFlight" type="xs:string" />
  <xs:element name="CustomProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q1:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartureTerminal" type="xs:string" />
  <xs:element name="DepartureTime" type="xs:string" />
  <xs:element name="Destination" type="xs:string" />
  <xs:element name="EstimatedDepartureTime" type="xs:string" />
  <xs:element name="Fare">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="APDAmount" type="xs:string" />
        <xs:element name="Availability" type="xs:string" />
        <xs:element name="Currency" type="xs:string" />
        <xs:element name="FareBasisCode" type="xs:string" />
        <xs:element name="PromoCode" type="xs:string" />
        <xs:element name="TotalPrice" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlightCode" type="xs:string" />
  <xs:element name="FlightNumber" type="xs:string" />
  <xs:element name="FlightRPH" type="xs:string" />
  <xs:element name="IATACode" type="xs:string" />
  <xs:element name="ICAOCode" type="xs:string" />
  <xs:element name="Id" type="xs:string" />
  <xs:element name="JourneyRPH" type="xs:string" />
  <xs:element name="MarketingCarrier" type="xs:string" />
  <xs:element name="NativeFlightId" type="xs:string" />
  <xs:element name="OpenForBoarding" type="xs:string" />
  <xs:element name="OpenForCheckIn" type="xs:string" />
  <xs:element name="OperatingCarrier" type="xs:string" />
  <xs:element name="Origin" type="xs:string" />
  <xs:element name="RequireMultipleAPISDocuments" type="xs:string" />
  <xs:element name="Status" type="xs:string" />
  <xs:element name="UTCArrivalTime" type="xs:string" />
  <xs:element name="UTCDepartureTime" type="xs:string" />
  <xs:element name="UTCEstimatedDepartureTime" type="xs:string" />
  <xs:element name="Flight">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Airport" type="xs:string" />
        <xs:element name="ApisRequired" type="xs:string" />
        <xs:element name="ArrivalTime" type="xs:string" />
        <xs:element name="BaggageAcceptanceStatus" type="xs:string" />
        <xs:element name="CarrierBookingClass" type="xs:string" />
        <xs:element name="ConnectingFlight" type="xs:string" />
        <xs:element name="CustomProperties">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q2:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DepartureTerminal" type="xs:string" />
        <xs:element name="DepartureTime" type="xs:string" />
        <xs:element name="Destination" type="xs:string" />
        <xs:element name="EstimatedDepartureTime" type="xs:string" />
        <xs:element name="Fare">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="APDAmount" type="xs:string" />
              <xs:element name="Availability" type="xs:string" />
              <xs:element name="Currency" type="xs:string" />
              <xs:element name="FareBasisCode" type="xs:string" />
              <xs:element name="PromoCode" type="xs:string" />
              <xs:element name="TotalPrice" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FlightCode" type="xs:string" />
        <xs:element name="FlightNumber" type="xs:string" />
        <xs:element name="FlightRPH" type="xs:string" />
        <xs:element name="IATACode" type="xs:string" />
        <xs:element name="ICAOCode" type="xs:string" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="JourneyRPH" type="xs:string" />
        <xs:element name="MarketingCarrier" type="xs:string" />
        <xs:element name="NativeFlightId" type="xs:string" />
        <xs:element name="OpenForBoarding" type="xs:string" />
        <xs:element name="OpenForCheckIn" type="xs:string" />
        <xs:element name="OperatingCarrier" type="xs:string" />
        <xs:element name="Origin" type="xs:string" />
        <xs:element name="RequireMultipleAPISDocuments" type="xs:string" />
        <xs:element name="Status" type="xs:string" />
        <xs:element name="UTCArrivalTime" type="xs:string" />
        <xs:element name="UTCDepartureTime" type="xs:string" />
        <xs:element name="UTCEstimatedDepartureTime" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Passenger">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Active" type="xs:string" />
        <xs:element name="AllowanceRetrieved" type="xs:string" />
        <xs:element name="Baggage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaggageAllowance">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BagDropId" type="xs:string" />
                    <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                    <xs:element name="BaggageItemTypeId" type="xs:string" />
                    <xs:element name="ConsumeItemWeight" type="xs:string" />
                    <xs:element name="CreatedOn" type="xs:string" />
                    <xs:element name="FlightId" type="xs:string" />
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="InitialBags" type="xs:string" />
                    <xs:element name="InitialWeight" type="xs:string" />
                    <xs:element name="MaxSingleItemWeight" type="xs:string" />
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="PoolItems" type="xs:string" />
                    <xs:element name="PoolWeight" type="xs:string" />
                    <xs:element name="PurchasedBags" type="xs:string" />
                    <xs:element name="PurchasedWeight" type="xs:string" />
                    <xs:element name="RemainingBags" type="xs:string" />
                    <xs:element name="RemainingWeight" type="xs:string" />
                    <xs:element name="UpdateInitialAllowance" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BaggageAllowances">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BaggageAllowance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BagDropId" type="xs:string" />
                          <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                          <xs:element name="BaggageItemTypeId" type="xs:string" />
                          <xs:element name="ConsumeItemWeight" type="xs:string" />
                          <xs:element name="CreatedOn" type="xs:string" />
                          <xs:element name="FlightId" type="xs:string" />
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="InitialBags" type="xs:string" />
                          <xs:element name="InitialWeight" type="xs:string" />
                          <xs:element name="MaxSingleItemWeight" type="xs:string" />
                          <xs:element name="PassengerId" type="xs:string" />
                          <xs:element name="PoolItems" type="xs:string" />
                          <xs:element name="PoolWeight" type="xs:string" />
                          <xs:element name="PurchasedBags" type="xs:string" />
                          <xs:element name="PurchasedWeight" type="xs:string" />
                          <xs:element name="RemainingBags" type="xs:string" />
                          <xs:element name="RemainingWeight" type="xs:string" />
                          <xs:element name="UpdateInitialAllowance" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BaggageItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BaggageItem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Active" type="xs:string" />
                          <xs:element name="BaggageAllowanceId" type="xs:string" />
                          <xs:element name="BaggageItemSubTypeId" type="xs:string" />
                          <xs:element name="BaggageItemSubTypeName" type="xs:string" />
                          <xs:element name="BaggageItemType" type="xs:string" />
                          <xs:element name="BaggageItemTypeId" type="xs:string" />
                          <xs:element name="BaggageItemTypeName" type="xs:string" />
                          <xs:element name="ConsumeAllowance" type="xs:string" />
                          <xs:element name="CreatedOn" type="xs:string" />
                          <xs:element name="Dropped" type="xs:string" />
                          <xs:element name="DroppedTime" type="xs:string" />
                          <xs:element name="HasNotionalWeight" type="xs:string" />
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="InitialWeight" type="xs:string" />
                          <xs:element name="NativeBaggageId" type="xs:string" />
                          <xs:element name="OutOfGauge" type="xs:string" />
                          <xs:element name="PassengerId" type="xs:string" />
                          <xs:element name="Printed" type="xs:string" />
                          <xs:element name="PrintedTime" type="xs:string" />
                          <xs:element name="Registered" type="xs:string" />
                          <xs:element name="RegisteredTime" type="xs:string" />
                          <xs:element name="SessionId" type="xs:string" />
                          <xs:element name="TagNumber" type="xs:string" />
                          <xs:element name="Weight" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MaxSingleItemWeight" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Barcode" type="xs:string" />
        <xs:element name="Boarded" type="xs:string" />
        <xs:element name="CarrierBookingClass" type="xs:string" />
        <xs:element name="CheckedIn" type="xs:string" />
        <xs:element name="ClearanceRequired" type="xs:string" />
        <xs:element name="ClearanceStatus" type="xs:string" />
        <xs:element name="ConfirmedDga" type="xs:string" />
        <xs:element name="ConfirmedIdentity" type="xs:string" />
        <xs:element name="ConnectingFlightNumber" type="xs:string" />
        <xs:element name="CustomProperties">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q3:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DateOfBirth" type="xs:string" />
        <xs:element name="DocumentCheckRequired" type="xs:string" />
        <xs:element name="Fees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Fee">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                    <xs:element name="Currency" type="xs:string" />
                    <xs:element name="FeeAmount" type="xs:string" />
                    <xs:element name="FeeType" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="Gender" type="xs:string" />
        <xs:element name="Identity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocumentOptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="APISDocumentSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="APISDocuments">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DocumentDetail">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Active" type="xs:string" />
                                      <xs:element name="Complete" type="xs:string" />
                                      <xs:element name="Fields">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DocumentField">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="AcceptedValues">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q4:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Name" type="xs:string" />
                                                  <xs:element name="Required" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="IssuerCountryCode" type="xs:string" />
                                      <xs:element name="Order" type="xs:string" />
                                      <xs:element name="Required" type="xs:string" />
                                      <xs:element name="Scannable" type="xs:string" />
                                      <xs:element name="Type" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IsSelected" type="xs:string" />
                          <xs:element name="MainDocumentIssuerCountryCode" type="xs:string" />
                          <xs:element name="MainDocumentType" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="LastAPIS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AddressInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CityName" type="xs:string" />
                          <xs:element name="Country">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="A2Code" type="xs:string" />
                                <xs:element name="A3Code" type="xs:string" />
                                <xs:element name="Abbreviation" type="xs:string" />
                                <xs:element name="Enabled" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="PhoneCode" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PostalCode" type="xs:string" />
                          <xs:element name="StateProvince" type="xs:string" />
                          <xs:element name="StreetNumber" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ContactInformation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AddressLine" type="xs:string" />
                          <xs:element name="City" type="xs:string" />
                          <xs:element name="CompanyName" type="xs:string" />
                          <xs:element name="ContactFirstName" type="xs:string" />
                          <xs:element name="ContactLastName" type="xs:string" />
                          <xs:element name="ContactTitle" type="xs:string" />
                          <xs:element name="Country" type="xs:string" />
                          <xs:element name="EmailAddress" type="xs:string" />
                          <xs:element name="NotificationPreference" type="xs:string" />
                          <xs:element name="PostalCode" type="xs:string" />
                          <xs:element name="TelephoneNumber" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CountryOfIssue" type="xs:string" />
                    <xs:element name="CountryOfResidence" type="xs:string" />
                    <xs:element name="DateOfBirth" type="xs:string" />
                    <xs:element name="DocumentExpiryDate" type="xs:string" />
                    <xs:element name="DocumentIssueDate" type="xs:string" />
                    <xs:element name="DocumentNumber" type="xs:string" />
                    <xs:element name="DocumentType" type="xs:string" />
                    <xs:element name="Firstname" type="xs:string" />
                    <xs:element name="Forenames" type="xs:string" />
                    <xs:element name="Gender" type="xs:string" />
                    <xs:element name="ImageBytes" type="xs:string" />
                    <xs:element name="Nationality" type="xs:string" />
                    <xs:element name="RawCodeline" type="xs:string" />
                    <xs:element name="Surname" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ObtainedAPIS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApisData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AddressInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CityName" type="xs:string" />
                                <xs:element name="Country">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="A2Code" type="xs:string" />
                                      <xs:element name="A3Code" type="xs:string" />
                                      <xs:element name="Abbreviation" type="xs:string" />
                                      <xs:element name="Enabled" type="xs:string" />
                                      <xs:element name="Name" type="xs:string" />
                                      <xs:element name="PhoneCode" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PostalCode" type="xs:string" />
                                <xs:element name="StateProvince" type="xs:string" />
                                <xs:element name="StreetNumber" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ContactInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AddressLine" type="xs:string" />
                                <xs:element name="City" type="xs:string" />
                                <xs:element name="CompanyName" type="xs:string" />
                                <xs:element name="ContactFirstName" type="xs:string" />
                                <xs:element name="ContactLastName" type="xs:string" />
                                <xs:element name="ContactTitle" type="xs:string" />
                                <xs:element name="Country" type="xs:string" />
                                <xs:element name="EmailAddress" type="xs:string" />
                                <xs:element name="NotificationPreference" type="xs:string" />
                                <xs:element name="PostalCode" type="xs:string" />
                                <xs:element name="TelephoneNumber" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CountryOfIssue" type="xs:string" />
                          <xs:element name="CountryOfResidence" type="xs:string" />
                          <xs:element name="DateOfBirth" type="xs:string" />
                          <xs:element name="DocumentExpiryDate" type="xs:string" />
                          <xs:element name="DocumentIssueDate" type="xs:string" />
                          <xs:element name="DocumentNumber" type="xs:string" />
                          <xs:element name="DocumentType" type="xs:string" />
                          <xs:element name="Firstname" type="xs:string" />
                          <xs:element name="Forenames" type="xs:string" />
                          <xs:element name="Gender" type="xs:string" />
                          <xs:element name="ImageBytes" type="xs:string" />
                          <xs:element name="Nationality" type="xs:string" />
                          <xs:element name="RawCodeline" type="xs:string" />
                          <xs:element name="Surname" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ValidDocuments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="APISDocumentSet">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="APISDocuments">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DocumentDetail">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Active" type="xs:string" />
                                      <xs:element name="Complete" type="xs:string" />
                                      <xs:element name="Fields">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DocumentField">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="AcceptedValues">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q5:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Name" type="xs:string" />
                                                  <xs:element name="Required" type="xs:string" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="IssuerCountryCode" type="xs:string" />
                                      <xs:element name="Order" type="xs:string" />
                                      <xs:element name="Required" type="xs:string" />
                                      <xs:element name="Scannable" type="xs:string" />
                                      <xs:element name="Type" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IsSelected" type="xs:string" />
                          <xs:element name="MainDocumentIssuerCountryCode" type="xs:string" />
                          <xs:element name="MainDocumentType" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Infant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AdultPassengerId" type="xs:string" />
              <xs:element name="AdultPassengerRPH" type="xs:string" />
              <xs:element name="AllowanceRetrieved" type="xs:string" />
              <xs:element name="Baggage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BaggageAllowance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BagDropId" type="xs:string" />
                          <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                          <xs:element name="BaggageItemTypeId" type="xs:string" />
                          <xs:element name="ConsumeItemWeight" type="xs:string" />
                          <xs:element name="CreatedOn" type="xs:string" />
                          <xs:element name="FlightId" type="xs:string" />
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="InitialBags" type="xs:string" />
                          <xs:element name="InitialWeight" type="xs:string" />
                          <xs:element name="MaxSingleItemWeight" type="xs:string" />
                          <xs:element name="PassengerId" type="xs:string" />
                          <xs:element name="PoolItems" type="xs:string" />
                          <xs:element name="PoolWeight" type="xs:string" />
                          <xs:element name="PurchasedBags" type="xs:string" />
                          <xs:element name="PurchasedWeight" type="xs:string" />
                          <xs:element name="RemainingBags" type="xs:string" />
                          <xs:element name="RemainingWeight" type="xs:string" />
                          <xs:element name="UpdateInitialAllowance" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BaggageAllowances">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BaggageAllowance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BagDropId" type="xs:string" />
                                <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                                <xs:element name="BaggageItemTypeId" type="xs:string" />
                                <xs:element name="ConsumeItemWeight" type="xs:string" />
                                <xs:element name="CreatedOn" type="xs:string" />
                                <xs:element name="FlightId" type="xs:string" />
                                <xs:element name="Id" type="xs:string" />
                                <xs:element name="InitialBags" type="xs:string" />
                                <xs:element name="InitialWeight" type="xs:string" />
                                <xs:element name="MaxSingleItemWeight" type="xs:string" />
                                <xs:element name="PassengerId" type="xs:string" />
                                <xs:element name="PoolItems" type="xs:string" />
                                <xs:element name="PoolWeight" type="xs:string" />
                                <xs:element name="PurchasedBags" type="xs:string" />
                                <xs:element name="PurchasedWeight" type="xs:string" />
                                <xs:element name="RemainingBags" type="xs:string" />
                                <xs:element name="RemainingWeight" type="xs:string" />
                                <xs:element name="UpdateInitialAllowance" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BaggageItems">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BaggageItem">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Active" type="xs:string" />
                                <xs:element name="BaggageAllowanceId" type="xs:string" />
                                <xs:element name="BaggageItemSubTypeId" type="xs:string" />
                                <xs:element name="BaggageItemSubTypeName" type="xs:string" />
                                <xs:element name="BaggageItemType" type="xs:string" />
                                <xs:element name="BaggageItemTypeId" type="xs:string" />
                                <xs:element name="BaggageItemTypeName" type="xs:string" />
                                <xs:element name="ConsumeAllowance" type="xs:string" />
                                <xs:element name="CreatedOn" type="xs:string" />
                                <xs:element name="Dropped" type="xs:string" />
                                <xs:element name="DroppedTime" type="xs:string" />
                                <xs:element name="HasNotionalWeight" type="xs:string" />
                                <xs:element name="Id" type="xs:string" />
                                <xs:element name="InitialWeight" type="xs:string" />
                                <xs:element name="NativeBaggageId" type="xs:string" />
                                <xs:element name="OutOfGauge" type="xs:string" />
                                <xs:element name="PassengerId" type="xs:string" />
                                <xs:element name="Printed" type="xs:string" />
                                <xs:element name="PrintedTime" type="xs:string" />
                                <xs:element name="Registered" type="xs:string" />
                                <xs:element name="RegisteredTime" type="xs:string" />
                                <xs:element name="SessionId" type="xs:string" />
                                <xs:element name="TagNumber" type="xs:string" />
                                <xs:element name="Weight" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MaxSingleItemWeight" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Boarded" type="xs:string" />
              <xs:element name="CheckedIn" type="xs:string" />
              <xs:element name="ConfirmedIdentity" type="xs:string" />
              <xs:element name="CustomProperties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q6:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DateOfBirth" type="xs:string" />
              <xs:element name="Fees">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Fee">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Code" type="xs:string" />
                          <xs:element name="Currency" type="xs:string" />
                          <xs:element name="FeeAmount" type="xs:string" />
                          <xs:element name="FeeType" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="Gender" type="xs:string" />
              <xs:element name="Identity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DocumentOptions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="APISDocumentSet">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="APISDocuments">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DocumentDetail">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Active" type="xs:string" />
                                            <xs:element name="Complete" type="xs:string" />
                                            <xs:element name="Fields">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="DocumentField">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="AcceptedValues">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q7:string" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Name" type="xs:string" />
                                                        <xs:element name="Required" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="IssuerCountryCode" type="xs:string" />
                                            <xs:element name="Order" type="xs:string" />
                                            <xs:element name="Required" type="xs:string" />
                                            <xs:element name="Scannable" type="xs:string" />
                                            <xs:element name="Type" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="IsSelected" type="xs:string" />
                                <xs:element name="MainDocumentIssuerCountryCode" type="xs:string" />
                                <xs:element name="MainDocumentType" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LastAPIS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AddressInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CityName" type="xs:string" />
                                <xs:element name="Country">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="A2Code" type="xs:string" />
                                      <xs:element name="A3Code" type="xs:string" />
                                      <xs:element name="Abbreviation" type="xs:string" />
                                      <xs:element name="Enabled" type="xs:string" />
                                      <xs:element name="Name" type="xs:string" />
                                      <xs:element name="PhoneCode" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PostalCode" type="xs:string" />
                                <xs:element name="StateProvince" type="xs:string" />
                                <xs:element name="StreetNumber" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ContactInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AddressLine" type="xs:string" />
                                <xs:element name="City" type="xs:string" />
                                <xs:element name="CompanyName" type="xs:string" />
                                <xs:element name="ContactFirstName" type="xs:string" />
                                <xs:element name="ContactLastName" type="xs:string" />
                                <xs:element name="ContactTitle" type="xs:string" />
                                <xs:element name="Country" type="xs:string" />
                                <xs:element name="EmailAddress" type="xs:string" />
                                <xs:element name="NotificationPreference" type="xs:string" />
                                <xs:element name="PostalCode" type="xs:string" />
                                <xs:element name="TelephoneNumber" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CountryOfIssue" type="xs:string" />
                          <xs:element name="CountryOfResidence" type="xs:string" />
                          <xs:element name="DateOfBirth" type="xs:string" />
                          <xs:element name="DocumentExpiryDate" type="xs:string" />
                          <xs:element name="DocumentIssueDate" type="xs:string" />
                          <xs:element name="DocumentNumber" type="xs:string" />
                          <xs:element name="DocumentType" type="xs:string" />
                          <xs:element name="Firstname" type="xs:string" />
                          <xs:element name="Forenames" type="xs:string" />
                          <xs:element name="Gender" type="xs:string" />
                          <xs:element name="ImageBytes" type="xs:string" />
                          <xs:element name="Nationality" type="xs:string" />
                          <xs:element name="RawCodeline" type="xs:string" />
                          <xs:element name="Surname" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ObtainedAPIS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ApisData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="AddressInformation">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CityName" type="xs:string" />
                                      <xs:element name="Country">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="A2Code" type="xs:string" />
                                            <xs:element name="A3Code" type="xs:string" />
                                            <xs:element name="Abbreviation" type="xs:string" />
                                            <xs:element name="Enabled" type="xs:string" />
                                            <xs:element name="Name" type="xs:string" />
                                            <xs:element name="PhoneCode" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="PostalCode" type="xs:string" />
                                      <xs:element name="StateProvince" type="xs:string" />
                                      <xs:element name="StreetNumber" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ContactInformation">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AddressLine" type="xs:string" />
                                      <xs:element name="City" type="xs:string" />
                                      <xs:element name="CompanyName" type="xs:string" />
                                      <xs:element name="ContactFirstName" type="xs:string" />
                                      <xs:element name="ContactLastName" type="xs:string" />
                                      <xs:element name="ContactTitle" type="xs:string" />
                                      <xs:element name="Country" type="xs:string" />
                                      <xs:element name="EmailAddress" type="xs:string" />
                                      <xs:element name="NotificationPreference" type="xs:string" />
                                      <xs:element name="PostalCode" type="xs:string" />
                                      <xs:element name="TelephoneNumber" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CountryOfIssue" type="xs:string" />
                                <xs:element name="CountryOfResidence" type="xs:string" />
                                <xs:element name="DateOfBirth" type="xs:string" />
                                <xs:element name="DocumentExpiryDate" type="xs:string" />
                                <xs:element name="DocumentIssueDate" type="xs:string" />
                                <xs:element name="DocumentNumber" type="xs:string" />
                                <xs:element name="DocumentType" type="xs:string" />
                                <xs:element name="Firstname" type="xs:string" />
                                <xs:element name="Forenames" type="xs:string" />
                                <xs:element name="Gender" type="xs:string" />
                                <xs:element name="ImageBytes" type="xs:string" />
                                <xs:element name="Nationality" type="xs:string" />
                                <xs:element name="RawCodeline" type="xs:string" />
                                <xs:element name="Surname" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ValidDocuments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="APISDocumentSet">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="APISDocuments">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DocumentDetail">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Active" type="xs:string" />
                                            <xs:element name="Complete" type="xs:string" />
                                            <xs:element name="Fields">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="DocumentField">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="AcceptedValues">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" ref="q8:string" />
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Name" type="xs:string" />
                                                        <xs:element name="Required" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="IssuerCountryCode" type="xs:string" />
                                            <xs:element name="Order" type="xs:string" />
                                            <xs:element name="Required" type="xs:string" />
                                            <xs:element name="Scannable" type="xs:string" />
                                            <xs:element name="Type" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="IsSelected" type="xs:string" />
                                <xs:element name="MainDocumentIssuerCountryCode" type="xs:string" />
                                <xs:element name="MainDocumentType" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InfantId" type="xs:string" />
              <xs:element name="IsSelected" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="MiddleName" type="xs:string" />
              <xs:element name="NativePassengerId" type="xs:string" />
              <xs:element name="PassengerRPH" type="xs:string" />
              <xs:element name="PassengerSequenceNumber" type="xs:string" />
              <xs:element name="Remarks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Remark">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RemarkType" type="xs:string" />
                          <xs:element name="Wording" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SSRs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SSR">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Currency" type="xs:string" />
                          <xs:element name="FeeCode" type="xs:string" />
                          <xs:element name="FlightNumber" type="xs:string" />
                          <xs:element name="PaxNumber" type="xs:string" />
                          <xs:element name="Price" type="xs:string" />
                          <xs:element name="SSRCode" type="xs:string" />
                          <xs:element name="SSRDescription" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SeatNumber" type="xs:string" />
              <xs:element name="Title" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IsSelectableForBoardingPass" type="xs:string" />
        <xs:element name="IsSelected" type="xs:string" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="MarketingCarrierCode" type="xs:string" />
        <xs:element name="MiddleName" type="xs:string" />
        <xs:element name="NativePassengerId" type="xs:string" />
        <xs:element name="PassengerId" type="xs:string" />
        <xs:element name="PassengerRPH" type="xs:string" />
        <xs:element name="PassengerSequenceNumber" type="xs:string" />
        <xs:element name="PaxType" type="xs:string" />
        <xs:element name="Remarks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Remark">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RemarkType" type="xs:string" />
                    <xs:element name="Wording" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RequiresCheckin" type="xs:string" />
        <xs:element name="SSRs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SSR">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Currency" type="xs:string" />
                    <xs:element name="FeeCode" type="xs:string" />
                    <xs:element name="FlightNumber" type="xs:string" />
                    <xs:element name="PaxNumber" type="xs:string" />
                    <xs:element name="Price" type="xs:string" />
                    <xs:element name="SSRCode" type="xs:string" />
                    <xs:element name="SSRDescription" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SeatNumber" type="xs:string" />
        <xs:element name="SeatPreference">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SupportsCheckin" type="xs:string" />
        <xs:element name="Title" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>