src/main/resources/xsd/log/GetBagLicensePlate/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="GetBagLicensePlate_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
        <xs:element name="LicensePlate" type="xs:unsignedInt" />
        <xs:element name="RoundedWeight" type="xs:unsignedByte" />
        <xs:element name="Passenger">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PassengerId" type="xs:string" />
              <xs:element name="Title" type="xs:string" />
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="NativePassengerId" type="xs:unsignedInt" />
              <xs:element name="MarketingCarrierCode" type="xs:string" />
              <xs:element name="Gender" type="xs:string" />
              <xs:element name="DateOfBirth" nillable="true" />
              <xs:element name="PassengerSequenceNumber" type="xs:string" />
              <xs:element name="SeatNumber" type="xs:string" />
              <xs:element name="PassengerRPH" type="xs:unsignedByte" />
              <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
              <xs:element name="ConfirmedDga" type="xs:boolean" />
              <xs:element name="ConfirmedIdentity" type="xs:boolean" />
              <xs:element name="AllowanceRetrieved" type="xs:boolean" />
              <xs:element name="IsSelected" type="xs:boolean" />
              <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
              <xs:element name="ClearanceRequired" type="xs:boolean" />
              <xs:element name="ClearanceStatus" type="xs:string" />
              <xs:element name="CheckedIn" type="xs:boolean" />
              <xs:element name="RequiresCheckin" type="xs:boolean" />
              <xs:element name="SupportsCheckin" type="xs:boolean" />
              <xs:element name="Boarded" type="xs:boolean" />
              <xs:element name="Active" type="xs:boolean" />
              <xs:element name="DocumentCheckRequired" type="xs:boolean" />
              <xs:element name="Identity">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LastAPIS">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Surname" type="xs:string" />
                          <xs:element name="Firstname" type="xs:string" />
                          <xs:element name="DateOfBirth" type="xs:dateTime" />
                          <xs:element name="Nationality" type="xs:string" />
                          <xs:element name="DocumentType" type="xs:string" />
                          <xs:element name="DocumentNumber" type="xs:unsignedInt" />
                          <xs:element name="DocumentIssueDate" type="xs:dateTime" />
                          <xs:element name="DocumentExpiryDate" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Baggage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BaggageAllowance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id" type="xs:string" />
                          <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                          <xs:element name="BaggageItemTypeId" type="xs:string" />
                          <xs:element name="BagDropId" type="xs:string" />
                          <xs:element name="FlightId" type="xs:string" />
                          <xs:element name="PassengerId" nillable="true" />
                          <xs:element name="PoolItems" type="xs:boolean" />
                          <xs:element name="PoolWeight" type="xs:boolean" />
                          <xs:element name="ConsumeItemWeight" type="xs:boolean" />
                          <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
                          <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                          <xs:element name="InitialBags" type="xs:unsignedByte" />
                          <xs:element name="InitialWeight" type="xs:unsignedByte" />
                          <xs:element name="PurchasedBags" type="xs:unsignedByte" />
                          <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
                          <xs:element name="RemainingBags" type="xs:unsignedByte" />
                          <xs:element name="RemainingWeight" type="xs:unsignedByte" />
                          <xs:element name="CreatedOn" type="xs:dateTime" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BaggageAllowances" />
                    <xs:element name="BaggageItems" />
                    <xs:element name="MaxSingleItemWeight" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CustomProperties" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>