src/main/resources/xsd/log/QuoteBag/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="QuoteBag_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
        <xs:element name="Costs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ItemList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ExcessBaggageCost">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AdditionalAllowance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:string" />
                                <xs:element name="BaggageAllowanceTypeId" type="xs:string" />
                                <xs:element name="BaggageItemTypeId" type="xs:string" />
                                <xs:element name="BagDropId" type="xs:string" />
                                <xs:element name="FlightId" type="xs:string" />
                                <xs:element name="PassengerId" nillable="true" />
                                <xs:element name="PoolItems" type="xs:boolean" />
                                <xs:element name="PoolWeight" type="xs:boolean" />
                                <xs:element name="ConsumeItemWeight" type="xs:boolean" />
                                <xs:element name="UpdateInitialAllowance" type="xs:boolean" />
                                <xs:element name="MaxSingleItemWeight" type="xs:decimal" />
                                <xs:element name="InitialBags" type="xs:unsignedByte" />
                                <xs:element name="InitialWeight" type="xs:unsignedByte" />
                                <xs:element name="PurchasedBags" type="xs:unsignedByte" />
                                <xs:element name="PurchasedWeight" type="xs:unsignedByte" />
                                <xs:element name="RemainingBags" type="xs:unsignedByte" />
                                <xs:element name="RemainingWeight" type="xs:unsignedByte" />
                                <xs:element name="CreatedOn" type="xs:dateTime" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Price" type="xs:unsignedByte" />
                          <xs:element name="Quantity" type="xs:unsignedByte" />
                          <xs:element name="Description" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Currency" type="xs:string" />
              <xs:element name="PaymentType" type="xs:string" />
              <xs:element name="QuoteStatus" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>