src/main/resources/xsd/log/CheckInPassenger/Response/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CheckInPassenger_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestId" type="xs:string" />
        <xs:element name="ResponseId" type="xs:string" />
        <xs:element name="DcsRequestsIds" />
        <xs:element name="Errors" />
        <xs:element name="Passengers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Passenger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PassengerId" type="xs:string" />
                    <xs:element name="FirstName" type="xs:string" />
                    <xs:element name="LastName" type="xs:string" />
                    <xs:element name="NativePassengerId" type="xs:unsignedLong" />
                    <xs:element name="DateOfBirth" nillable="true" />
                    <xs:element name="PassengerSequenceNumber" type="xs:unsignedByte" />
                    <xs:element name="SeatNumber" type="xs:string" />
                    <xs:element name="PaxType" type="xs:string" />
                    <xs:element name="PassengerRPH" type="xs:unsignedByte" />
                    <xs:element name="ConnectingFlightNumber" type="xs:unsignedByte" />
                    <xs:element name="ConfirmedDga" type="xs:boolean" />
                    <xs:element name="ConfirmedIdentity" type="xs:boolean" />
                    <xs:element name="AllowanceRetrieved" type="xs:boolean" />
                    <xs:element name="IsSelected" type="xs:boolean" />
                    <xs:element name="IsSelectableForBoardingPass" type="xs:boolean" />
                    <xs:element name="ClearanceRequired" type="xs:boolean" />
                    <xs:element name="ClearanceStatus" type="xs:string" />
                    <xs:element name="CheckedIn" type="xs:boolean" />
                    <xs:element name="RequiresCheckin" type="xs:boolean" />
                    <xs:element name="SupportsCheckin" type="xs:boolean" />
                    <xs:element name="Boarded" type="xs:boolean" />
                    <xs:element name="Active" type="xs:boolean" />
                    <xs:element name="DocumentCheckRequired" type="xs:boolean" />
                    <xs:element name="CustomProperties">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>